.c-places {
    background-color: $color-white;
    &__item {
        @include media-breakpoint-down(md) {
            position: relative;
        }
    }

    &__description, &__descriptionsecond {
        @include media-breakpoint-down(lg) {
            margin-left: 0rem;
            margin-right: 0rem;
        }
    }

    &__description {
        background-color: $color-accent;
        margin-left: -5rem;

        @include media-breakpoint-down(md) {
            background-color: rgba($color: $color-accent, $alpha: 0.8); // ?
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__descriptionsecond {
        background-color: $color-highlight;
        margin-left: 0;
        margin-right: -5rem;
        z-index: 2; // ?

        @include media-breakpoint-down(md) {
            background-color: rgba($color: $color-highlight, $alpha: 0.8); // ?
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &__img {
        min-height: 24rem;
        object-fit: fill;
    }
}