.c-places {
    background-color: white;


    &__item {
        position: relative;
    }

    &__description {
        background-color: $color-accent;
        padding-left: 1rem;
        padding-right: 1rem;

        p {
            color: $color-white;
        }

        @include media-breakpoint-down(md){
            background-color: rgba($color-accent-rgb, 0.8);
            position: absolute;
            bottom: -1rem;
            left: 0;
        }


        &--second {
            background-color: $color-highlight;

            @include media-breakpoint-down(md){
                background-color: rgba($color-highlight-rgb, 0.8);
            }
        }
    }

    &__img {
        min-height: 24rem;
        object-fit: fill;
    }
}