.c-tabs {
    background-color: $color-accent;
    padding-top: 1rem;
    justify-content: center;
    margin: 1rem;


    &__link {
        text-decoration: none;
        color: white;
        font-weight: $fw-regular;
        padding: 2rem 1.5rem;
        text-transform: uppercase;

        @include media-breakpoint-down(md) {
            font-size: 0.8rem;
            padding: 0.8rem;
            img {
                max-width: 3rem;
            }
        }
        &:hover {
            background-color: $color-highlight;
            color: white;
        }

        img {
            @include media-breakpoint-up(md) {
                display: block;
            }
        }
    }
}