.c-btn {
    text-transform: uppercase;
    background-color: $color-accent;
    color: $color-light;
    padding: .5rem 1.5rem;
    transition: all 0.2s ease;
    display: inline-block;
    margin-bottom: 1rem;
    font-weight: $fw-regular;

    &:hover {
        background-color: $color-highlight;
        color: $color-light;
    }

    &:focus {
        outline: none;
    }

    &--down {
        border-radius: 50%;
        padding: 0;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        font-size: 1.5rem;
    
        &:hover {
            transform: translateY(.5rem);
        }
    }
}
