.c-nav {
    background: $color-light;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    transition: all 0.2s ease-in-out;

    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        margin-bottom: 0;
    }

    &__item {
        margin-left: 2.5rem;

        &:first-child {
            margin-left: 0;
        }
    }

    &__link {
        color: $color-dark;
        font-weight: $fw-bold;

        &--active,
        &:hover {
            color: $color-accent;
        }
    }

    &--active {
        box-shadow: 0 1px 5px rgba($color-dark, 0.25);
        padding: .5rem 0;
    }
}