* {
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: $fw-light;
	background: $color-base--light;
}

a {
	text-decoration: none;
	transition: all 0.3s ease;

	&:hover,
	&:focus {
		outline: none;
	}
}

h1 {
	font-size: 3rem;
	line-height: 1em;
	text-transform: uppercase;
	margin-bottom: 1.5rem;
}

h2 {
	text-align: center;
	font-size: 2.2rem;
	margin: 0;
}

h2,
h3,
h4 {
	padding: 2rem 0;
}

header {
	background-image: linear-gradient(rgba($color-dark, 0.7), rgba($color-dark, 0.7)), url('../img/banner.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 45rem;
	color: $color-light;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 7.5rem;
}

section {
	margin-bottom: 2.5rem;
}
